body {
    margin: 0;
    padding: 0;
    background-color:rgba(27, 27, 27);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    /*
    Font from google, copied and pasted what they told me to
    I used the "JetBrains Mono" font
    looks cool
    https://fonts.google.com/selection/embed
    */
}

.topText {
    margin: 0;
    padding: 5px;
}

#top {
    display: flex;
    background-color: rgb(11, 15, 12);
    padding: 0.5cm;
    align-items: center;
    justify-content: center;
    margin: 0px;
    flex-direction: column;
    font-size: 25px;
    gap: 10 px;
    color: rgb(57, 255, 20);
}

#navigation {
    display:flex;   
    background-color: rgb(20, 28, 20);
    padding: 0.5cm;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 20px;
    gap:2cm;
    color:black;
}

#selectedButton {
    border-style: solid;
    border-color: rgb(57, 255, 20);
    color:rgb(57, 255, 20);
}

.nonSelectedButton {
    border-style: none;
    color:rgb(57, 255, 20);
}

#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 30px;
    background-color: rgb(16, 22, 16);
    font-size: large;
    color:rgb(156, 255, 138);
}
.source {
    color: rgb(156, 255, 138);
}

#sources {
    background-color: rgb(20, 28, 20);
    padding: 15px;
    font-size: 17px;
    color:rgb(156, 255, 138);
}

.link {
    color:rgb(95, 174, 95);
}

#footer {
    background-color: rgba(27, 27, 27);
    padding: 15px;
    font-size: 17px;
    color:white;    
}

