#top {
    display: flex;
    background-color: rgb(250, 243, 225);
    padding: 0.5cm;
    align-items: center;
    justify-content: center;
    margin: 0px;
    flex-direction: column;
    font-size: 25px;
    margin:0px;
}

#navigation {
    display:flex;   
    background-color: rgb(248, 179, 116);
    padding: 0.5cm;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 20px;
    gap:2cm;
    color:black;
}

#selectedButton {
    border-style: solid;
}

.unSelectedButton {

}

#body {
    display: flex;
    background-color: rgb(245, 231, 198);

}