body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/question-marks-background_78370-2896.jpg?semt=ais_user_personalization&w=740&q=80");
    background-size: cover;
}
#top {
    background-color: rgb(216, 239, 254);
    width: fit-content;
    margin: 5em;
    padding: 1em;
}
.allElements {
    background-color: rgb(180, 220, 255);
    padding: 1em;
}